<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Калькулятор стоимости с учетом доставки</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Калькулятор стоимости с учетом доставки</h1>
    <div class="alert alert-info">
        <strong>Сноска:</strong> Система расчета стоимости с учетом доставки работает следующим образом:
        <ul>
            <li>Сумма меньше 100 € - скидки нет, стоимость доставки 50 €.</li>
            <li>Сумма больше или равна 100 € и меньше 200 € - скидка 5%, стоимость доставки 50 €.</li>
            <li>Сумма больше или равна 200 € и меньше 500 € - скидка 10%, стоимость доставки 100 €.</li>
            <li>Сумма больше или равна 500 € - скидка 20%, доставка бесплатно.</li>
        </ul>
    </div>
    <form th:action="@{/calculate}" method="get">
        <div class="form-group mt-3">
            <label for="sum">Сумма:</label>
            <input type="text" class="form-control" id="sum" name="sum" placeholder="Введите сумму" required
                   pattern="[0-9]+">
        </div>
        <button type="submit" class="btn btn-primary">Рассчитать</button>
    </form>
    <div class="mt-3" th:if="${result}">
        <p>Введенная сумма: <span th:text="${result.initialSum}">0</span> € (денег) </p>
        <p>Процент скидки: <span th:text="${result.discount}">0</span>%</p>
        <p>Сумма доставки: <span th:text="${result.deliveryCost}">0</span> € (денег)</p>
        <p>Итоговая сумма с доставкой: <span th:text="${result.totalAmount}">0</span> € (денег)</p>
        <div class="alert alert-info mt-3">
            <strong>Примечание:</strong> Процент скидки и стоимость доставки рассчитываются в соответствии с указанными
            условиями.
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JavaScript и jQuery (обязательно для некоторых компонентов Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
